<h1><%="#{@user.email}'s Hosted events"%><h1>

<h5><%@user.events.each do |event|%><h5>
<%=event.itenary%>
<%=event.location%>
<%=event.date_time%>
<% end %>

<h2><%="#{@user.email}'s Attended events"%></h2>

<%@user.attendances.each do |attendances|%>
<div><%=attendances.event.title%></div>
<div><%=attendances.event.itenary%></div>
<% end %>
